.left {
  margin-left: 200px;
  margin-right: 20px;
}

body {
  margin: 0;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

main {
  margin-top: 60px;
  margin-bottom: 80px;
  font-family: cursive;
}

footer {
  background-color: rgb(198, 226, 35);
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: -1;
}

.sidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(19, 31, 202);
}

.links{
margin-top: 170px;
}

header {
  background-color: rgb(198, 226, 35);
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%
}

h1 {
  font-family: sans-serif;
}

#navigation {
  position: fixed;
  right: 6%;
  top: 0.5%
}

form {
  display: inline;
}

input[type=submit] {
  padding: 7px;
  margin: 8px;
  background-color: rgb(120, 217, 255);
  border: none;
  border-radius: 4px;
  transition-duration: 0.4s;
}

input[type=submit]:hover {
  background-color: white;
}

#current {
  padding: 7px;
  margin: 8px;
  border: none;
  border-radius: 4px;
}

#link_desc {
  color: white;
  margin-top: 100px;
  margin-left: 30px;
}

li {
  margin: 8px;
}

li a {
  color: white;
}

/*main{
      font-family: cursive;
    }*/

a {
  color: blue
}

legend {
  font-size: 30px;
  font-weight: bold;
}

/*
#container{
  display:inline-block;
  vertical-align:top;
}*/

#img1 {
  float: left;
  padding: 20px;
}

#txt1 {
  padding-top: 30px;
}

.email{
  margin-top: 15px;
  margin-left: 200px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.bullet{
  color: white;
}