.left {
  margin-left: 200px;
  margin-right: 20px;
}

body {
  margin: 0;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

main {
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: cursive;
}

footer {
  background-color: rgb(198, 226, 35);
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: -1;
}

.sidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(19, 31, 202);
}

.links{
margin-top: 170px;
}

header {
  background-color: rgb(198, 226, 35);
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%
}

h1 {
  font-family: sans-serif;
}

#navigation {
  position: fixed;
  right: 6%;
  top: 0.5%
}

form {
  display: inline;
}

input[type=submit] {
  padding: 7px;
  margin: 8px;
  background-color: rgb(89, 249, 249);
  border: none;
  border-radius: 4px;
  transition-duration: 0.4s;
}

input[type=submit]:hover {
  background-color: white;
}

#current {
  padding: 7px;
  margin: 8px;
  border: none;
  border-radius: 4px;
}

#link_desc {
  color: white;
  margin-top: 100px;
  margin-left: 30px;
}

li {
  margin: 8px;
}

li a {
  color: white;
}

/*main{
      font-family: cursive;
    }*/

a {
  color: blue
}

legend {
  font-size: 30px;
  font-weight: bold;
}

#img1 {
  max-width: 100%;
  max-height:100%;
  float: right;
  margin-right: 20px;
}

.email{
  margin-top: 15px;
  margin-left: 200px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.bullet{
  color: white;
}

table, th, td{
  border:solid;
  border-collapse: collapse;
}

.headings{
  color: rgb(75, 75, 75);
}


.pass{
background-color: rgb(138, 250, 40);
}

.notgr{
  background-color: rgb(246, 255, 0);
  }

.fail{
  background-color: rgb(250, 120, 40);
}


.quartile{
  background-color: white;
}

#progbar{
  width: 70%;
margin-left: 85px;
color: red;
}